body {
	background-color: #222;
}

.container {
	width: 516px;
	height: 776px;
	display: flex;
	background-color: rgb(0, 0, 0);
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	color: aliceblue;
	border: 2px solid #00ffea; /* Зеленый цвет рамки */
	border-radius: 5px; /* Закругленные углы */
	padding: 10px; /* Внутренний отступ */
	box-shadow: 0 0 5px #00ffd5; /* Зеленая тень рамки */

	/* Анимация свечения */
	animation: neon-glow 1s ease-in-out infinite alternate;
}

@keyframes neon-glow {
	from {
		box-shadow: 0 0 5px #00ffd5;
	}
	to {
		box-shadow: 0 0 20px #00fff2;
	}
}

form {
	display: flex;
	justify-content: space-around;
	margin: 3% 0% 0% 0%;
}

.name_field {
	display: flex;
	padding: 0 0 30px 0;
	flex-direction: column;
	align-items: center;
}

.email_field {
	display: flex;
	padding: 0 0 30px 0;
	flex-direction: column;
	align-items: center;
}

.age_field {
	display: flex;
	padding: 0 0 30px 0;
	flex-direction: column;
	align-items: center;
}

.gender_determination_field {
	display: flex;
	padding: 0 0 30px 0;
	flex-direction: column;
	align-items: center;
}

.profession_field {
	display: flex;
	padding: 0 0 30px 0;
	flex-direction: column;
	align-items: center;
}

.password_field {
	display: flex;
	padding: 0 0 30px 0;
	flex-direction: column;
	align-items: center;
}

.consent_field {
	display: flex;
	padding: 0 0 40px 0;
	flex-direction: row;
	align-items: center;
}

.button_ {
	display: flex;
	padding: 0 0 30px 0;
	flex-direction: column;
	align-items: center;
}
.input_password {
	margin: 0 0 15px 0;
}
label {
	padding: 0 0 10px 0;
}

.label_consent_field {
	padding: 0 0 0 0;
}
.gender_determination_field label {
	font-size: 1rem;
	color: #fff;
	margin-bottom: 10px;
	display: block;
}
.gender_determination_field input[type="radio"] {
	display: none;
}
.gender_determination_field input[type="radio"] + label {
	font-family: Arial, sans-serif;
	display: inline-block;
	padding: 3px 10px;
	background-color: #333;
	color: #fff;
	border-radius: 30px;
	cursor: pointer;
}
.gender_determination_field input[type="radio"]:checked + label {
	background-color: #2fceb4;
	box-shadow: 0 0 18px #73fff3;
}

input {
	padding: 6px;
	border: none;
	border-radius: 15px;
	background-color: #222;
	color: #b9fff9;
	box-shadow: 0 0 5px #fff;
	outline: none;
}

input:focus {
	box-shadow: 0 0 10px #12ffff, 0 0 20px #57dce6, 0 0 30px #85e4eb;
}

input::placeholder {
	color: #888;
}

select {
	padding: 10px;
	border: none;
	border-radius: 5px;
	background-color: #222;
	color: #ffffff;
	box-shadow: 0 0 5px #fff;
	outline: none;
	appearance: none;
}

select:focus {
	box-shadow: 0 0 10px #12ffff, 0 0 20px #57dce6, 0 0 30px #85e4eb;
}

select option {
	background-color: #222;
	color: #fff;
}

select::placeholder {
	color: #888;
}
.stage {
	box-sizing: border-box;
	position: absolute;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #65799b;
}

.btn {
	width: 169px;
	font-size: 20px;
	height: 46px;
	border: none;
	outline: none;
	background: #c38b8b;
	color: #fff;
	cursor: pointer;
	position: relative;
	z-index: 0;
	border-radius: 10px;
}

.btn::before {
	position: absolute;
	content: "";
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	left: -2px;
	top: -2px;
	background: linear-gradient(
		124deg,
		#ff2400,
		#e81d1d,
		#e8b71d,
		#e3e81d,
		#1de840,
		#1ddde8,
		#2b1de8,
		#dd00f3,
		#dd00f3
	);
	background-size: 400%;
	z-index: -1;
	filter: blur(5px);
	animation: move 20s linear infinite;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
	border-radius: 10px;
}

.btn:hover::before {
	opacity: 1;
}

.btn::after {
	z-index: -1;
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background: #555273;
	left: 0;
	top: 0;
	border-radius: 10px;
}

@keyframes move {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}
